button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  outline: none;
  padding: 4px 10px;

  &.green {
    background-color: #43a047;
    border-color: #00701a;
    color: white;
  }

  &.red {
    background-color: #c62828;
    border-color: #8e0000;
    color: white;
  }
}

a.button {
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  outline: none;
  padding: 4px 10px;
}

.button-gradient {
  display: block;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  font-size: 18px;
  font-weight: 600;
  margin: 20px auto;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  transition: transform 0.2s linear;
  width: 200px;

  &:hover {
    transform: translate(0, -1.2px);
  }
  em {
    font-style: italic;
  }
}

.button-gradient.yellow {
  background: rgb(237, 159, 41);
  background: -webkit-linear-gradient(to right, rgb(233, 191, 119), rgb(237, 159, 41));
  background: linear-gradient(to right, rgb(233, 191, 119), rgb(237, 159, 41));
}

.button-gradient.blue {
  background: #0575E6;
  background: -webkit-linear-gradient(to right, #023B79, #0455B6);
  background: linear-gradient(to right, #023B79, #0455B6);
}
