.virtual-EOH-page-wrapper {
    padding: 100px 190px;
    font-size: 20px;
}

.overview-video-wrapper {
    display: flex;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
}