.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: linear-gradient(30deg, #282c34, #204c63);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  h1 {
    font-weight: bold;
    margin: 4px;
  }

  h2 {
    margin: 4px;
    font-weight: 300;
    span.word {
      font-weight: 800;
      color: #40c4ff;
    }

    span.type-cursor {
      opacity: 1;
      animation: blink .9s infinite;
    }
  }

  h3 {
    margin: 35px;
  }
}

.App-link {
  color: #61dafb;
}
