nav#site-nav {
  align-items: center;
  background-color: rgba(0,0,0,0.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-start;
  padding: 0 20px;
  position: fixed;
  transition: background-color .2s;
  width: 100%;
  z-index: 1000;

  font-family: 'Montserrat', sans-serif;

  &.filled { background-color: rgba(0,0,0,0.8); }

  .logo {
    height: 97%;
    > img {
      height: 100%;
      box-sizing: border-box;
      flex-grow: 0;
    }
  }

  .spacing {
    flex-grow: 1;
  }

  .menu-icon {
    display: none;
  }

  .nav-links {
    img { display: none; }
    a, button {
      color: white;
      display: inline-block;
      font-weight: 300;
      margin: 0 18px;
      text-decoration: none;
      text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
      transform: translate(0, 0);
      transition: transform 0.2s, text-shadow 0.2s;

      &:hover {
        transform: translate(0, -0.7px);
        text-shadow: 0px 4px 7px rgba(0,0,0,0.95);
      }

      &:nth-child(3) { display: none; }
    }
  }

  @media (max-width: 760px) {
    .logo, .spacing { display: none; };

    .menu-icon {
      display: inline-block;
    }

    .dropdown {
      width: 100%;
      button {
        background-position: 77% 52%;
      }
    }

    .dropdown-menu {
      position: relative;
      background-color: rgb(17, 17, 17);
      padding: 0;
    }

    .nav-links {
      background: #111;
      height: 100vh;
      position: fixed;
      left: 0;
      transition: left 0.2s;
      top: 0;
      width: 220px;

      &.closed {
        left: -220px;
      }

      img {
        display: block;
        margin: auto;
        padding: 70px 0;
        width: 60%;

        &.close {
          height: 22px;
          width: 22px;
          margin: 0;
          position: absolute;
          padding: 0;
          top: 12px;
          right: 12px;
        }
      }

      a, button {
        border-bottom: 2px solid #333;
        box-sizing: border-box;
        font-size: 22px;
        font-weight: 400;
        margin: 0 8px;
        padding: 16px 20px;
        width: calc(100% - 16px);

        &:nth-child(3) {
          display: block;
          border-top: 2px solid #333;
        }
      }
    }
  }
}

.dropdown {
  display: inline-block;

  button {
    background: url('../../assets/icons/dropdown.svg') no-repeat;
    background-position: 100% 58%;
    padding-right: 14px;
    padding-left: 0;
    border: none;
    font-size: 16px;
    text-align: left;
  }

  .dropdown-menu {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 6px 0 6px 0;
    border-radius: 5px;
  }
}